# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.manifest
*.spec

# Virtual environment
venv/
ENV/
env/
.venv/

# Distribution / packaging
build/
develop-eggs/
dist/
.eggs/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE/editor settings
.vscode/
.idea/
*.swp
*~

# OS files
.DS_Store
Thumbs.db


vosk-model*